@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(240, 189, 189, 0.25)
}

main#corpo {
    position: relative;
    width: 900px;
    height: 1500px;
    margin: auto;
    top: -1px;
    background: #764A61;
    border: 1px solid #8C5042;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

nav#menu {
    position: absolute;
    width: 900px;
    height: 57px;
    left: 0px;
    top: -2px;
    background: #ffffff;
}

header#rect-main {
    position: absolute;
    width: 900px;
    height: 290px;
    left: 0px;
    top: 2px;
    background: url(../img/header/woman-mouth-teeth-sweets.jpg) no-repeat 0px 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}

ul {
    list-style: none;
}

li>div>a {
    text-decoration: none;
    font-family: 'Shrikhand', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #8C5042;
}

li>div#Home {
    position: absolute;
    left: 35.67%;
    right: 60.11%;
    top: 20%;
    bottom: 97.67%;
}

li>div#Produtos {
    position: absolute;
    left: 46.67%;
    right: 46%;
    top: 20%;
    bottom: 97.67%;
}

li>div#QuemSomos {
    position: absolute;
    left: 58.33%;
    right: 32.56%;
    top: 20%;
    bottom: 97.67%;
}

li>div#Contato {
    position: absolute;
    left: 72.44%;
    right: 21.56%;
    top: 20%;
    bottom: 97.67%;
}

li>div#Localização {
    position: absolute;
    left: 83.78%;
    right: 7.67%;
    top: 20%;
    bottom: 97.67%;
}

nav div#rect-fundo {
    position: absolute;
    width: 831px;
    height: 163px;
    left: 34px;
    top: 363px;
    background: #904142;
    border: 1px solid #0D0D0D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav>div#rect-frente {
    position: absolute;
    width: 815px;
    height: 158px;
    left: 41px;
    top: 355px;
    background: #E9E6E6;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#rect-frente>img#brigadeiro {
    position: inherit;
    top: 15px;
    left: 16px;
    bottom: 5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#estrelas-1 {
    position: relative;
    top: 132px;
    left: 67px;
    bottom: 9px;
}

img#estrelas-2 {
    position: relative;
    top: 132px;
    left: 215px;
    bottom: 9px;
}

img#estrelas-3 {
    position: relative;
    top: 132px;
    left: 365px;
    bottom: 9px;
}

div#rect-frente>img#pacoca {
    position: inherit;
    top: 15px;
    left: 301px;
    bottom: 5px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div#rect-frente>img#beijinho {
    position: inherit;
    top: 15px;
    left: 583px;
    bottom: 5px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main>div#main-rect-fundo {
    position: relative;
    width: 798.68px;
    height: 815.3px;
    margin: auto;
    top: 558px;
    background: #904142;
    border: 1px solid #0D0D0D;
}

main>div>div#main-rect-frente {
    position: relative;
    width: 768.8px;
    height: 784.8px;
    top: 13.96px;
    margin: auto;
    bottom: 15.96px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background: #E9E6E6;
}

footer {
    position: absolute;
    width: 900px;
    height: 82px;
    left: 0px;
    top: 1418px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section>header>h1 {
    position: relative;
    width: 329px;
    height: 35px;
    left: 62.2px;
    top: 3.40px;
    font-family: Shrikhand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #8C5042;
    box-sizing: border-box;
}

section>p {
    position: relative;
    width: 154px;
    height: 136px;
    left: 62.2px;
    top: -4px;
    bottom: 3px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

section>button {
    position: relative;
    width: 78px;
    height: 30.43px;
    left: 62.2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #D90404;
    border-radius: 14px;
    border: 1px solid #8C5042;
}

section>button>span {
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}

section#mapa {
    position: absolute;
    left: 286px;
    top: 350px;
}

section>div.amostras {
    position: relative;
    left: 503.2px;
}

section>div>img#brigadeiro-2 {
    position: absolute;
    top: -185px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section>div>img#casadinho {
    position: absolute;
    top: -185px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section>div>img#cajuzinho {
    position: absolute;
    top: -185px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#Logo {
    position: absolute;
    width: 201px;
    height: 170px;
    left: 350px;
    top: 89px;
}

h1#principal {
    position: absolute;
    width: 441px;
    height: 70px;
    left: 309px;
    top: 229px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #D72828;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-shadow: -5px 2px 4px rgba(0, 0, 0, 0.47);
}

div#prod-rect-fundo {
    position: absolute;
    width: 831px;
    height: 95px;
    left: 34px;
    top: 334px;
    background: #904142;
    border: 1px solid #0D0D0D;
    box-sizing: border-box;
}

div#prod-rect-frente {
    position: relative;
    width: 815px;
    height: 92px;
    left: 7px;
    top: -7px;
    background: #0D0D0D;
    border: 1px solid #8C5042;
    box-sizing: border-box;
}

div#prod-rect-frente>nav>ul>li {
    display: inline;
    position: relative;
    left: 17px;
    top: 12px;
    bottom: 39px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
}

div#prod-rect-frente>nav>ul>li#A {
    list-style-type: none;
    color: #D90404;
    left: -25px;
}

div#prod-rect-frente>nav>ul>li#B {
    list-style-type: none;
    color: #FFFFFF;
    left: -12px;
}

div#prod-rect-frente>nav>ul>li#C {
    list-style-type: none;
    color: #FFFFFF;
    left: -3px;
}

div#prod-rect-frente>nav>ul>li#D {
    list-style-type: none;
    color: #FFFFFF;
    left: 6px;
}

img.pacocas {
    position: relative;
    width: 214px;
    height: 160px;
}

img#pacoca1 {
    left: 59.2px;
    top: 29.41px;
}

img#pacoca2 {
    left: 70px;
    top: 29.41px;
}

img#pacoca3 {
    left: 80px;
    top: 29.41px;
}

img#pacoca4 {
    left: 59.2px;
    top: 221px;
}

img#pacoca5 {
    left: 70px;
    top: 221px;
}

img#pacoca6 {
    left: 80px;
    top: 221px;
}


img.beijinhos {
    position: relative;
    width: 214px;
    height: 160px;
}

img#beijinho1 {
    left: 59.2px;
    top: 29.41px;
}

img#beijinho2 {
    left: 70px;
    top: 29.41px;
}

img#beijinho3 {
    left: 80px;
    top: 29.41px;
}

img#beijinho4 {
    left: 59.2px;
    top: 221px;
}

img#beijinho5 {
    left: 70px;
    top: 221px;
}

img#beijinho6 {
    left: 80px;
    top: 221px;
}