@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(240, 189, 189, 0.25)
}

a {
    text-decoration: none;
    color: inherit;
}

main#corpo {
    position: relative;
    min-height: 100%;
    width: 900px;
    height: 1500px;
    margin: auto;
    top: -1px;
    background: #764A61;
    border: 1px solid #8C5042;
    filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
}

nav#menu {
    position: absolute;
    width: 900px;
    height: 57px;
    left: 0px;
    top: -2px;
    background: #ffffff;
}

header#rect-main {
    position: absolute;
    width: 900px;
    height: 290px;
    left: 0px;
    top: 2px;
    background: url(../img/header/woman-mouth-teeth-sweets.jpg) no-repeat 0px 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    backdrop-filter: blur(4px);
}

ul {
    list-style: none;
}

div.rect-nav {}

li>div>a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    color: #8C5042;
}

li>div#Home {
    position: absolute;
    left: 35.67%;
    right: 60.11%;
    top: 20%;
    bottom: 97.67%;
}

a#home {}

li>div#Produtos {
    position: absolute;
    left: 46.67%;
    right: 46%;
    top: 20%;
    bottom: 97.67%;
}

a#prod {
    display: flex;
}

li>div#QuemSomos {
    position: absolute;
    left: 58.33%;
    right: 32.56%;
    width: 86px;
    top: 20%;
    bottom: 97.67%;
}

a#quemsomos {
    display: flex;
}

li>div#Contato {
    position: absolute;
    left: 72.44%;
    right: 21.56%;
    top: 20%;
    bottom: 97.67%;
}

a#contact {
    display: flex;
}

li>div#Localização {
    position: absolute;
    left: 83.78%;
    right: 7.67%;
    top: 20%;
    bottom: 97.67%;
}

a#local {
    display: flex;
}

nav div#rect-fundo {
    position: absolute;
    width: 831px;
    height: 163px;
    left: 34px;
    top: 363px;
    background: #904142;
    border: 1px solid #0D0D0D;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

nav>div#rect-frente {
    position: absolute;
    width: 815px;
    height: 158px;
    left: 41px;
    top: 355px;
    background: #E9E6E6;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div#rect-frente>img#brigadeiro {
    position: inherit;
    top: 15px;
    left: 16px;
    bottom: 5px;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#estrelas-1 {
    position: relative;
    top: 132px;
    left: 67px;
    bottom: 9px;
}

img#estrelas-2 {
    position: relative;
    top: 132px;
    left: 215px;
    bottom: 9px;
}

img#estrelas-3 {
    position: relative;
    top: 132px;
    left: 365px;
    bottom: 9px;
}

div#rect-frente>img#pacoca {
    position: inherit;
    top: 15px;
    left: 301px;
    bottom: 5px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

div#rect-frente>img#beijinho {
    position: inherit;
    top: 15px;
    left: 583px;
    bottom: 5px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

main>div#main-rect-fundo {
    position: relative;
    width: 798.68px;
    height: 815.3px;
    margin: auto;
    top: 558px;
    background: #904142;
    border: 1px solid #0D0D0D;
}

main>div>div#main-rect-frente {
    position: relative;
    width: 768.8px;
    height: 784.8px;
    top: 13.96px;
    margin: auto;
    bottom: 15.96px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    background: #E9E6E6;
}

footer {
    bottom: 0px;
    position: absolute;
    width: 900px;
    height: 82px;
    left: 0px;
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

section>header>h1 {
    position: relative;
    width: 329px;
    height: 35px;
    left: 62.2px;
    top: 33.4px;
    font-family: Shrikhand, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #8C5042;
    box-sizing: border-box;
}

section>p {
    position: relative;
    width: 154px;
    height: 90px;
    left: 62.2px;
    top: 36px;
    bottom: 3px;
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

section>a>button {
    position: relative;
    top: 40px;
    width: 78px;
    height: 30.43px;
    left: 62.2px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background: #D90404;
    border-radius: 14px;
    border: 1px solid #8C5042;
}

section>a>button:hover {
    cursor: pointer;
}

section>a>button>span {
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
}

section#mapa {
    position: absolute;
    left: 286px;
    top: 350px;
}

section>div.amostras {
    position: relative;
    left: 503.2px;
}

section>div>img#brigadeiro-2 {
    position: absolute;
    top: -135px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section>div>img#casadinho {
    position: absolute;
    top: -54px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

section>div>img#cajuzinho {
    position: absolute;
    top: 85px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#Logo {
    position: absolute;
    width: 201px;
    height: 170px;
    left: 350px;
    top: 89px;
}

h1#principal {
    position: absolute;
    width: 441px;
    height: 70px;
    left: 309px;
    top: 229px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 70px;
    color: #D72828;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    text-shadow: -5px 2px 4px rgba(0, 0, 0, 0.47);
}

div#prod-rect-fundo {
    position: absolute;
    width: 831px;
    height: 95px;
    left: 34px;
    top: 334px;
    background: #904142;
    border: 1px solid #0D0D0D;
    box-sizing: border-box;
}

div#prod-rect-frente {
    position: relative;
    width: 815px;
    height: 92px;
    left: 7px;
    top: -7px;
    background: #0D0D0D;
    border: 1px solid #8C5042;
    box-sizing: border-box;
}

div#prod-rect-frente>nav>ul>li {
    display: inline;
    position: relative;
    left: 17px;
    top: 12px;
    bottom: 39px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    color: #FFFFFF;
    text-decoration: none;
}

div#prod-rect-frente>nav>ul>li#A {
    list-style-type: none;
    text-decoration: none;
    color: #D90404;
    left: -25px;
}

div#prod-rect-frente>nav>ul>li#B {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    left: -12px;
}

div#prod-rect-frente>nav>ul>li#C {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    left: -3px;
}

div#prod-rect-frente>nav>ul>li#D {
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    left: 6px;
}

img.pacocas {
    position: relative;
    width: 214px;
    height: 160px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#pacoca1 {
    left: 59.2px;
    top: 29.41px;
}

img#pacoca2 {
    left: 70px;
    top: 29.41px;
}

img#pacoca3 {
    left: 80px;
    top: 29.41px;
}

img#pacoca4 {
    left: 59.2px;
    top: 221px;
}

img#pacoca5 {
    left: 70px;
    top: 221px;
}

img#pacoca6 {
    left: 80px;
    top: 221px;
}

img.beijinhos {
    position: relative;
    width: 214px;
    height: 160px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#beijinho1 {
    left: 59.2px;
    top: 29.41px;
}

img#beijinho2 {
    left: 70px;
    top: 29.41px;
}

img#beijinho3 {
    left: 80px;
    top: 29.41px;
}

img#beijinho4 {
    left: 59.2px;
    top: 221px;
}

img#beijinho5 {
    left: 70px;
    top: 221px;
}

img#beijinho6 {
    left: 80px;
    top: 221px;
}

img.cajuzinhos {
    position: relative;
    width: 214px;
    height: 160px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#cajuzinho1 {
    left: 59.2px;
    top: 29.41px;
}

img#cajuzinho2 {
    left: 70px;
    top: 29.41px;
}

img#cajuzinho3 {
    left: 80px;
    top: 29.41px;
}

img#cajuzinho4 {
    left: 59.2px;
    top: 221px;
}

img#cajuzinho5 {
    left: 70px;
    top: 221px;
}

img#cajuzinho6 {
    left: 80px;
    top: 221px;
}

img.cazadinhos {
    position: relative;
    width: 214px;
    height: 160px;
    border: 1px solid #8C5042;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

img#cazadinho1 {
    left: 59.2px;
    top: 29.41px;
}

img#cazadinho2 {
    left: 70px;
    top: 29.41px;
}

img#cazadinho3 {
    left: 80px;
    top: 29.41px;
}

img#cazadinho4 {
    left: 59.2px;
    top: 221px;
}

img#cazadinho5 {
    left: 70px;
    top: 221px;
}

img#cazadinho6 {
    left: 80px;
    top: 221px;
}

div#rect-right-gradient {
    position: absolute;
    width: 442px;
    height: 794px;
    left: calc(50% - 442px/2 + 229px);
    top: 379px;
    background: linear-gradient(180deg, #8C5042 0%, rgba(217, 134, 95, 0) 100%);
    filter: blur(4px);
    border-radius: 114px 0px 0px 0px;
}

div#rect-center-info {
    position: absolute;
    width: 386.78px;
    height: 784.8px;
    left: 250.0px;
    top: 400.00px;
    background: #8C5042;
    border: 1px solid #D90404;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 0px 116px;
    transform: rotate(90.17deg);
}

div#rect-left {
    top: 700px;
    position: absolute;
    width: 286px;
    height: 522px;
    right: 614px;
    bottom: 1323px;
    background: #764A61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 300px 0px;
}

h1#about {
    position: absolute;
    width: 255px;
    height: 70px;
    left: 117px;
    top: 448px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    color: #764A61;
}

h3#since {
    position: absolute;
    width: 140px;
    height: 35px;
    left: 645px;
    top: 523px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height */
    color: #D90404;
}

h2#history {
    position: absolute;
    width: 280px;
    height: 37px;
    left: 117px;
    top: 595px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 52px;
    color: #D90404;
}

p#p-history {
    position: absolute;
    width: 258px;
    height: 180px;
    left: 117px;
    top: 668px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

h2#local {
    position: absolute;
    width: 264px;
    height: 71px;
    left: 510px;
    top: 664px;
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    color: #D90404;
}

p#p-local {
    position: absolute;
    width: 258px;
    height: 156px;
    left: 510px;
    top: 771px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    color: #FFFFFF;
}

img#logo-about {
    position: absolute;
    left: 615px;
    top: 379px;
}

div#circle1 {
    border-radius: 50%;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 56px;
    top: 1173px;
    background: #904142;
    border: 1px solid #000000;
    box-sizing: border-box;
}

div#circle2 {
    border-radius: 50%;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 338px;
    top: 1173px;
    background: #904142;
    border: 1px solid #000000;
    box-sizing: border-box;
}

div#circle3 {
    border-radius: 50%;
    position: absolute;
    width: 220px;
    height: 220px;
    left: 620px;
    top: 1173px;
    background: #904142;
    border: 1px solid #000000;
    box-sizing: border-box;
}

img#fabrica1 {
    box-shadow: -8px 2px 4px rgb(0, 0, 0, 30%);
    border: 1px solid #904142;
    border-radius: 50%;
    position: absolute;
    width: 217px;
    height: 218px;
    left: 57px;
    top: 1173px
}

img#fabrica2 {
    box-shadow: -8px 2px 4px rgb(0, 0, 0, 30%);
    border: 1px solid #904142;
    border-radius: 50%;
    position: absolute;
    width: 218px;
    height: 218px;
    left: 339px;
    top: 1173px
}

img#fabrica3 {
    box-shadow: -8px 2px 4px rgb(0, 0, 0, 30%);
    border: 1px solid #904142;
    border-radius: 50%;
    position: absolute;
    width: 218px;
    height: 218px;
    left: 620px;
    top: 1173px
}

img#quotation {
    position: absolute;
    width: 52.58px;
    height: 52.58px;
    left: 424.42px;
    top: 1518.25px;
}

img#estrelas-quem-somos {
    position: absolute;
    width: 220px;
    height: 36.67px;
    left: 340px;
    top: 1618.03px;
}

p#info-quem-somos {
    position: absolute;
    width: 231px;
    height: 136px;
    left: 338px;
    top: 1685px;
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 0px;
    text-align: center;
    line-height: 30px;
    color: #000000;
}

h1#pathers {
    position: absolute;
    width: 397px;
    height: 70px;
    left: 251px;
    top: calc(1889px + 89px);
    font-family: Shrikhand;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 70px;
    /* identical to box height */
    color: #000000;
}

img#logo-unicesumar {
    position: absolute;
    width: 214px;
    height: 49px;
    left: 57px;
    top: 2235px;
}

img#logo-walmart {
    position: absolute;
    width: 214px;
    height: 49px;
    left: 343px;
    top: 2235px;
}

img#logo-o-amigao {
    position: absolute;
    width: 214px;
    height: 49px;
    left: 629px;
    top: 2235px
}

div#rect-fixed-footer {
    border-radius: 0px 58px 0px 0px;
    position: absolute;
    width: 328px;
    height: 58px;
    left: 0px;
    top: 2543px;
    background: #764A61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a#email {
    position: relative;
    left: 170px;
    top: -4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

a#tel {
    position: relative;
    left: 290px;
    top: -4px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #FFFFFF;
}

img#gmail {
    position: absolute;
    width: 30px;
    height: 26px;
    left: -50px;
    top: -4px;
}

img#whats {
    position: absolute;
    width: 40px;
    height: 34px;
    left: -50px;
    top: -9px;
}

img#suport {
    position: absolute;
    width: 766px;
    height: 315px;
    left: 0px;
    top: 469px;
    border: 1px solid #873C3D;
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 41px 40px;
}

div#rect-traz-prod1 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 59px;
    background-color: #e6040438;
}

div#rect-fundo-prod1 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 113px;
    top: 235px;
    left: 59px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod1 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 59px;
    background-color: #e6c55e;
}

div#circle-preco1 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 115px;
}

div#rect-traz-prod2 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-color: #e6040438;
}

div#rect-fundo-prod2 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod2 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 284px;
    background-color: #e6c55e;
}

div#circle-preco2 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 345px;
}

div#rect-traz-prod3 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-color: #e6040438;
}

div#rect-fundo-prod3 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod3 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 284px;
    background-color: #e6c55e;
}

div#circle-preco3 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 345px;
}

div#rect-traz-prod4 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-color: #e6040438;
}

div#rect-fundo-prod4 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod4 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 284px;
    background-color: #e6c55e;
}

div#circle-preco4 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 345px;
}

div#rect-traz-prod5 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-color: #e6040438;
}

div#rect-fundo-prod5 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod5 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 284px;
    background-color: #e6c55e;
}

div#circle-preco5 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 345px;
}

div#rect-traz-prod6 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-color: #e6040438;
}

div#rect-fundo-prod6 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 112px;
    top: 236px;
    left: 284px;
    background-image: linear-gradient(to top, #873C3D, #ff000061)
}

div#rect-frente-prod6 {
    position: absolute;
    display: inline;
    width: 214px;
    height: 39px;
    top: 197px;
    left: 284px;
    background-color: #e6c55e;
}

div#circle-preco6 {
    position: absolute;
    display: inline;
    border-radius: 50%;
    border: 1px solid black;
    position: absolute;
    display: inline;
    width: 84px;
    height: 84px;
    background-color: #764a61;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #873C3D;
    top: 285px;
    left: 345px;
}

div#pacoca-group1 {
    position: absolute;
    left: 0;
    top: 0px;
}

div#pacoca-group2 {
    position: absolute;
    left: 0px;
    top: 0px;
}

div#pacoca-group3 {
    position: absolute;
    left: 224px;
    top: 0px;
}

div#pacoca-group4 {
    position: absolute;
    left: -225px;
    top: 356px;
}

div#pacoca-group5 {
    position: absolute;
    left: 0px;
    top: 356px;
}

div#pacoca-group6 {
    position: absolute;
    left: 224px;
    top: 356px;
}

h2#Produto1 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 80px;
    width: 180px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
}

span#prod-uni-1 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    height: 0px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-1 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 122px;
    width: 70px;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
}

span#prod-error-1 {
    position: absolute;
    top: 208px;
    left: 68px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#info-prod-group-1 {
    position: absolute;
    top: 0px;
    left: 230px;
}

h2#Produto2 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 73px;
    width: 180px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

span#prod-uni-2 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-2 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 123px;
    width: 70px;
    height: 0px;
    color: #FFFFFF;
    font-style: bolder;
}

span#prod-error-2 {
    position: absolute;
    top: 208px;
    left: 57px;
    width: 210px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#info-prod-group-2 {
    position: absolute;
    top: 0px;
    left: 453px;
}

h2#Produto3 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 73px;
    width: 185px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

span#prod-uni-3 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-3 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 122px;
    width: 70px;
    height: 0px;
    color: #FFFFFF;
    font-style: bolder;
}

span#prod-error-3 {
    position: absolute;
    top: 208px;
    left: 57px;
    width: 210px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#info-prod-group-3 {
    position: absolute;
    top: 357px;
    left: 5px;
}

h2#Produto4 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 73px;
    width: 185px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

span#prod-uni-4 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-4 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 122px;
    width: 70px;
    height: 0px;
    color: #FFFFFF;
    font-style: bolder;
}

span#prod-error-4 {
    position: absolute;
    top: 208px;
    left: 57px;
    width: 210px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#info-prod-group-4 {
    position: absolute;
    top: 357px;
    left: 231px;
}

h2#Produto5 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 73px;
    width: 185px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

span#prod-uni-5 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-5 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 122px;
    width: 70px;
    height: 0px;
    color: #FFFFFF;
    font-style: bolder;
}

span#prod-error-5 {
    position: absolute;
    top: 208px;
    left: 57px;
    width: 210px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#info-prod-group-5 {
    position: absolute;
    top: 357px;
    left: 455px;
}

h2#Produto6 {
    position: absolute;
    display: inline;
    top: 186px;
    left: 73px;
    width: 185px;
    height: 0px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-style: bolder;
    line-height: 17px;
    color: #0d0d0d;
    text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.25);
}

span#prod-uni-6 {
    position: absolute;
    display: inline;
    top: 252px;
    left: 114px;
    width: 97px;
    text-decoration: underline;
    color: #0d0d0d;
}

span#prod-preco-6 {
    position: absolute;
    display: inline;
    top: 316px;
    left: 122px;
    width: 70px;
    height: 0px;
    color: #FFFFFF;
    font-style: bolder;
}

span#prod-error-6 {
    position: absolute;
    top: 208px;
    left: 57px;
    width: 210px;
    font-size: 1em;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 17px;
    color: rgb(151, 1, 1);
}

div#beijinho-group1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

div#beijinho-group2 {
    position: absolute;
    top: 0px;
    left: 232px;
}

div#beijinho-group3 {
    position: absolute;
    top: 357px;
    left: -225px;
}

div#beijinho-group4 {
    position: absolute;
    top: 357px;
    left: 4px;
}

div#beijinho-group5 {
    position: absolute;
    top: 357px;
    left: 232px;
}

div#beijinho-group6 {
    position: absolute;
    top: 0px;
    left: 4px;
}

div#cajuzinho-group1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

div#cajuzinho-group2 {
    position: absolute;
    top: 0px;
    left: 232px;
}

div#cajuzinho-group3 {
    position: absolute;
    top: 357px;
    left: -225px;
}

div#cajuzinho-group4 {
    position: absolute;
    top: 357px;
    left: 4px;
}

div#cajuzinho-group5 {
    position: absolute;
    top: 357px;
    left: 232px;
}

div#cajuzinho-group6 {
    position: absolute;
    top: 0px;
    left: 4px;
}

div#casadinho-group1 {
    position: absolute;
    top: 0px;
    left: 0px;
}

div#casadinho-group2 {
    position: absolute;
    top: 0px;
    left: 232px;
}

div#casadinho-group3 {
    position: absolute;
    top: 357px;
    left: -225px;
}

div#casadinho-group4 {
    position: absolute;
    top: 357px;
    left: 4px;
}

div#casadinho-group5 {
    position: absolute;
    top: 357px;
    left: 232px;
}

div#casadinho-group6 {
    position: absolute;
    top: 0px;
    left: 4px;
}

p#info-email {
    position: absolute;
    width: 154px;
    height: 16px;
    left: 124px;
    top: 609.37px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

p#info-contato {
    position: absolute;
    width: 154px;
    height: 16px;
    left: 122px;
    top: 568.37px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

img#icon-whats {
    position: absolute;
    top: -9px;
    left: -52px;
}

img#icon-email {
    position: absolute;
    top: -5px;
    left: -48px;
}